@model IEnumerable<UserManageViewModel>

<div class="row g-3 justify-content-center mt-3">​
    <div class="col-12 col-md-6 col-lg-12 fs-5">​
        <h2 class="text-center">Manage Users:</h2>​
        <hr />
        <table class="table table-striped table-bordered table-responsive text-center">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Username</td>
                        <td>EmailAddress</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Username</td>
                            <td>@user.EmailAddress</td>
                            <td>@user.Role</td>
                            <td>
                                <div class="d-flex justify-content-center gap-2">
                                    <a class="btn btn-warning btn-lg" asp-route-id="@user.Id" asp-action="Edit">Edit</a>
                                    <form asp-action="Delete" method="post" asp-route-id="@user.Id">
                                        <button class="btn btn-danger btn-lg">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
          </table>
    </div>​
</div>