@model PendingArtistsViewModel

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">

            <div class="card shadow-lg border-0 rounded-4 admin-manage-card">
                <div class="card-body p-4 p-md-5">

                    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-center mb-5 gap-3">

                        <div class="text-center text-lg-start">
                            <h2 class="fw-bold mb-2">
                                Pending or Rejected Artists Approvals
                            </h2>

                            <p class="text-muted fs-5">
                                Review submitted artists and
                                <span class="text-success fw-semibold">accept</span>,
                                <span class="text-danger fw-semibold">reject</span> or
                                <span class="text-warning fw-semibold">restore</span>, them.
                            </p>
                        </div>

                        <div id="search-bar-target" class="compact-search-group" style="max-width: 350px; width: 100%;">
                            <form method="get" class="mb-0" asp-controller="Admin" asp-action="ManageArtistsStatus">
                                <div class="d-flex gap-2">
                                    <input class="form-control custom-search-input"
                                           type="search"
                                           placeholder="Search..."
                                           name="name"
                                           value="@Context.Request.Query["name"]" />

                                    <button type="submit" class="btn btn-search custom-search-btn shadow-sm">
                                        <svg viewBox="0 0 640 640" style="width:16px; height:16px; margin-right: 5px;">
                                            <path fill="currentColor" d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z" />
                                        </svg>
                                        Search
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                    <hr class="mb-4" />

                    <div class="table-responsive">
                        <table class="table align-middle mb-0 table-hover fs-6">
                            <thead class="bg-light text-secondary">
                                <tr class="small text-uppercase">
                                    <th class="ps-3">#</th>
                                    <th>Username</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 1;
                                }
                                @if (!Model.Artists.Any())
                                {
                                    <tr>
                                        <td colspan="8" class="text-center">
                                            <div class="text-center py-5">
                                                <h4 class="text-white fw-light">@ViewData["NoResult"]</h4>
                                                <p class="text-secondary">Try searching for a different artist.</p>

                                                <div class="mt-4">
                                                    <a href="@Url.Action("ManageArtistsStatus", "Admin")" class="btn btn-outline-warning px-4 me-2">Clear Search</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var artist in Model.Artists)
                                    {
                                        <tr class="border-top">
                                            <td class="ps-3 text-muted fw-semibold">
                                                @index
                                            </td>

                                            <td class="fw-semibold text-dark">
                                                <div class="d-flex align-items-center gap-3">
                                                    <img src="@artist.ProfilePicture"
                                                         alt="@artist.Username"
                                                         width="50"
                                                         height="50"
                                                         class="rounded shadow-sm" />

                                                    <span>@artist.Username</span>
                                                </div>
                                            </td>

                                            @if (artist.IsAccepted == UploadStatus.Pending)
                                            {
                                                <td>
                                                    <span class="badge bg-warning text-white bg-opacity-75 rounded-pill px-3">@artist.IsAccepted.ToString()</span>
                                                </td>
                                                <td class="text-end pe-3">
                                                    <div class="d-flex gap-2 justify-content-end">
                                                        <div class="d-flex gap-2">
                                                            <form method="post" asp-controller="Artist" asp-action="AcceptArtist" asp-route-id="@artist.Id">
                                                                <button type="submit" class="btn btn-outline-success btn-md fw-bold d-inline-flex align-items-center rounded-2">
                                                                    <svg viewBox="0 0 640 640" width="30" height="30" class="me-2">
                                                                        <path fill="currentColor" d="M320 576C178.6 576 64 461.4 64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576zM320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320C528 205.1 434.9 112 320 112zM390.7 233.9C398.5 223.2 413.5 220.8 424.2 228.6C434.9 236.4 437.3 251.4 429.5 262.1L307.4 430.1C303.3 435.8 296.9 439.4 289.9 439.9C282.9 440.4 276 437.9 271.1 433L215.2 377.1C205.8 367.7 205.8 352.5 215.2 343.2C224.6 333.9 239.8 333.8 249.1 343.2L285.1 379.2L390.7 234z" />
                                                                    </svg>
                                                                    Accept
                                                                </button>
                                                            </form>
                                                            <form method="post" asp-controller="Artist" asp-action="RejectArtist" asp-route-id="@artist.Id">
                                                                <button type="submit" class="btn btn-outline-danger btn-md fw-bold d-inline-flex align-items-center rounded-2">
                                                                    <svg viewBox="0 0 640 640" width="30" height="30" class="me-2">
                                                                        <path fill="currentColor" d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM231 231C221.6 240.4 221.6 255.6 231 264.9L286 319.9L231 374.9C221.6 384.3 221.6 399.5 231 408.8C240.4 418.1 255.6 418.2 264.9 408.8L319.9 353.8L374.9 408.8C384.3 418.2 399.5 418.2 408.8 408.8C418.1 399.4 418.2 384.2 408.8 374.9L353.8 319.9L408.8 264.9C418.2 255.5 418.2 240.3 408.8 231C399.4 221.7 384.2 221.6 374.9 231L319.9 286L264.9 231C255.5 221.6 240.3 221.6 231 231z" />
                                                                    </svg>
                                                                    Reject
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="badge bg-danger text-white bg-opacity-75 rounded-pill px-3">@artist.IsAccepted.ToString()</span>
                                                </td>
                                                <td class="text-end pe-3">
                                                    <div class="d-flex gap-2 justify-content-end">
                                                        <form method="post" asp-controller="Artist" asp-action="AcceptArtist" asp-route-id="@artist.Id">
                                                            <button type="submit" class="btn btn-outline-success btn-md fw-bold d-inline-flex align-items-center">
                                                                <svg viewBox="0 0 640 640" width="30" height="30" class="me-2">
                                                                    <path fill="currentColor" d="M320 576C178.6 576 64 461.4 64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576zM320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320C528 205.1 434.9 112 320 112zM390.7 233.9C398.5 223.2 413.5 220.8 424.2 228.6C434.9 236.4 437.3 251.4 429.5 262.1L307.4 430.1C303.3 435.8 296.9 439.4 289.9 439.9C282.9 440.4 276 437.9 271.1 433L215.2 377.1C205.8 367.7 205.8 352.5 215.2 343.2C224.6 333.9 239.8 333.8 249.1 343.2L285.1 379.2L390.7 234z" />
                                                                </svg>
                                                                Restore
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                        index++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Admin" asp-action="ManageAlbumsStatus" asp-route-pageNumber="@(Model.CurrentPage - 1)" asp-route-pageSize="3">Previous</a>
                </li>
            }

            @if (Model.CurrentPage > 2)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Admin" asp-action="ManageAlbumsStatus" asp-route-pageNumber="1" asp-route-pageSize="3">1</a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }

            @for (int i = Model.CurrentPage - 1; i <= Model.CurrentPage + 1; i++)
            {
                if (i > 0 && i <= Model.TotalPages)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Admin" asp-action="ManageAlbumsStatus" asp-route-pageNumber="@i" asp-route-pageSize="3">@i</a>
                    </li>
                }
            }

            @if (Model.CurrentPage < Model.TotalPages - 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Admin" asp-action="ManageAlbumsStatus" asp-route-pageNumber="@Model.TotalPages" asp-route-pageSize="3">@Model.TotalPages</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Admin" asp-action="ManageAlbumsStatus" asp-route-pageNumber="@(Model.CurrentPage + 1)" asp-route-pageSize="3">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>
