@model PlaylistSongsIndexViewModel

<div class="row g-3 justify-content-center mt-3">​
    <div class="col-12 col-md-6 col-lg-12 fs-5">​
        <div class="text-center">
            <h1 class="display-4 fw-bold mb-3">
                <span class="text-warning">@Model.Title</span>
            </h1>
        </div>
        <hr />
        <table class="table table-striped table-bordered table-responsive text-center">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Release Date</th>
                        <th>Artists</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var song in Model.Songs)
                    {
                        <tr>
                            <td>@song.Title</td>
                            <td>@song.Minutes:@song.Seconds</td>
                            <td>@song.Genre</td>
                            <td>
                                @foreach (var artist in song.Artists)
                                {
                                    <span>@artist</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
          </table>
    </div>​
</div>
