@model HomeArtistIndexViewModel

<div class="text-center mb-5 fade-in-up">
    <h1 class="display-4 fw-bold mb-3">
        Welcome to <span class="specific_heading">StaskoFy</span>
    </h1>

    <p class="lead text-muted mb-1">
        Manage your music and track your projects.
    </p>
    <p class="lead text-muted mb-1">
        Upload songs, create albums, and see how your audience is engaging with your work.
    </p>
</div>

<div class="container fade-in-up anim-delay-2">
    <div class="text-center text-light">

        <div class="row text-center mb-5 g-4">
            <div class="col-md-4">
                <div class="card shadow-sm artist-manage-card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Your uploaded songs</h5>
                        <p class="card-text fw-semibold">
                            <svg viewBox="0 0 640 640" height="24" width="24" class="me-2 text-gold">
                                <path fill="currentColor" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" />
                            </svg>@Model.TotalSongsByArtist</p>
                        <a asp-controller="Library" asp-action="MyProjectsIndex" class="btn btn-outline-warning btn-md">Manage</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm artist-manage-card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Your uploaded albums</h5>
                        <p class="card-text fw-semibold">
                            <svg viewBox="0 0 640 640" height="24" width="24" class="me-2 text-gold">
                                <path fill="currentColor" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" />
                            </svg>@Model.TotalAlbumsByArtist
                        </p>
                        <a asp-controller="Library" asp-action="MyProjectsIndex" class="btn btn-outline-warning btn-md">Manage</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm artist-manage-card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Your pending songs</h5>
                        <p class="card-text fw-semibold">
                            <svg viewBox="0 0 640 640" height="24" width="24" class="me-2" style="color: red;">
                                <path fill="currentColor" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" />
                            </svg>@Model.TotalPendingSongsByArtist
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm artist-manage-card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Your pending albums</h5>
                        <p class="card-text fw-semibold">
                            <svg viewBox="0 0 640 640" height="24" width="24" class="me-2" style="color: red;">
                                <path fill="currentColor" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" />
                            </svg>@Model.TotalPendingAlbumsByArtist
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm artist-manage-card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Likes of your songs</h5>
                        <p class="card-text fw-semibold">
                            <svg viewBox="0 0 640 640" height="24" width="24" class="me-2 text-gold">
                                <path fill="currentColor" d="M442.9 144C415.6 144 389.9 157.1 373.9 179.2L339.5 226.8C335 233 327.8 236.7 320.1 236.7C312.4 236.7 305.2 233 300.7 226.8L266.3 179.2C250.3 157.1 224.6 144 197.3 144C150.3 144 112.2 182.1 112.2 229.1C112.2 279 144.2 327.5 180.3 371.4C221.4 421.4 271.7 465.4 306.2 491.7C309.4 494.1 314.1 495.9 320.2 495.9C326.3 495.9 331 494.1 334.2 491.7C368.7 465.4 419 421.3 460.1 371.4C496.3 327.5 528.2 279 528.2 229.1C528.2 182.1 490.1 144 443.1 144zM335 151.1C360 116.5 400.2 96 442.9 96C516.4 96 576 155.6 576 229.1C576 297.7 533.1 358 496.9 401.9C452.8 455.5 399.6 502 363.1 529.8C350.8 539.2 335.6 543.9 320 543.9C304.4 543.9 289.2 539.2 276.9 529.8C240.4 502 187.2 455.5 143.1 402C106.9 358.1 64 297.7 64 229.1C64 155.6 123.6 96 197.1 96C239.8 96 280 116.5 305 151.1L320 171.8L335 151.1z" />
                            </svg>@Model.TotalLikesOfSongsByArtist
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm artist-manage-card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Most liked song</h5>
                        <p class="card-text fw-semibold specific_heading">@Model.MostLikedSongTitleByArtist</p>
                        <p class="card-text fw-semibold">
                            <svg viewBox="0 0 640 640" height="24" width="24" class="me-2 text-gold">
                                <path fill="currentColor" d="M442.9 144C415.6 144 389.9 157.1 373.9 179.2L339.5 226.8C335 233 327.8 236.7 320.1 236.7C312.4 236.7 305.2 233 300.7 226.8L266.3 179.2C250.3 157.1 224.6 144 197.3 144C150.3 144 112.2 182.1 112.2 229.1C112.2 279 144.2 327.5 180.3 371.4C221.4 421.4 271.7 465.4 306.2 491.7C309.4 494.1 314.1 495.9 320.2 495.9C326.3 495.9 331 494.1 334.2 491.7C368.7 465.4 419 421.3 460.1 371.4C496.3 327.5 528.2 279 528.2 229.1C528.2 182.1 490.1 144 443.1 144zM335 151.1C360 116.5 400.2 96 442.9 96C516.4 96 576 155.6 576 229.1C576 297.7 533.1 358 496.9 401.9C452.8 455.5 399.6 502 363.1 529.8C350.8 539.2 335.6 543.9 320 543.9C304.4 543.9 289.2 539.2 276.9 529.8C240.4 502 187.2 455.5 143.1 402C106.9 358.1 64 297.7 64 229.1C64 155.6 123.6 96 197.1 96C239.8 96 280 116.5 305 151.1L320 171.8L335 151.1z" />
                            </svg>@Model.MostLikedSongCountByArtist likes
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>