@model LibraryViewModel

<div class="container py-5">
    <div class="text-center text-light">
        <h1 class="display-4 fw-bold mb-3">
            Your <span class="text-warning"> Music Library</span>
        </h1>
        <p class="text-muted">Explore your loved projects</p>
    </div>
</div>

<a asp-controller="Playlist" asp-action="Create" class="btn btn-outline-warning btn-lg d-inline-flex align-items-center mb-4">
    <svg viewBox="0 0 640 640" width="30" height="30" class="me-2">
        <path fill="currentColor" d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM296 408L296 344L232 344C218.7 344 208 333.3 208 320C208 306.7 218.7 296 232 296L296 296L296 232C296 218.7 306.7 208 320 208C333.3 208 344 218.7 344 232L344 296L408 296C421.3 296 432 306.7 432 320C432 333.3 421.3 344 408 344L344 344L344 408C344 421.3 333.3 432 320 432C306.7 432 296 421.3 296 408z" />
    </svg>Create a playlist
</a>

<div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    @foreach (var playlist in Model.Playlists)
    {
        <div class="col" id="playlist-@playlist.Id">
            <div class="card h-100 shadow-sm overflow-hidden" style="border-radius: 12px;">
                <a asp-controller="Playlist" asp-action="Details" asp-route-id="@playlist.Id">
                    <img src="@playlist.ImageURL" alt="@playlist.Title" class="w-100 h-100" style="object-fit: contain;">
                </a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@playlist.Title</h5>
                    <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112C434.9 112 528 205.1 528 320zM64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320zM296 184L296 320C296 328 300 335.5 306.7 340L402.7 404C413.7 411.4 428.6 408.4 436 397.3C443.4 386.2 440.4 371.4 429.3 364L344 307.2L344 184C344 170.7 333.3 160 320 160C306.7 160 296 170.7 296 184z" /></svg><strong>Length:</strong> @playlist.Hours:@playlist.Minutes.ToString("D2"):@playlist.Seconds.ToString("D2")</p>
                    <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M216 64C229.3 64 240 74.7 240 88L240 128L400 128L400 88C400 74.7 410.7 64 424 64C437.3 64 448 74.7 448 88L448 128L480 128C515.3 128 544 156.7 544 192L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 192C96 156.7 124.7 128 160 128L192 128L192 88C192 74.7 202.7 64 216 64zM216 176L160 176C151.2 176 144 183.2 144 192L144 240L496 240L496 192C496 183.2 488.8 176 480 176L216 176zM144 288L144 480C144 488.8 151.2 496 160 496L480 496C488.8 496 496 488.8 496 480L496 288L144 288z" /></svg><strong>Date Created:</strong> @playlist.DateCreated.ToString("dd MMM yyyy")</p>
                    <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" /></svg><strong>Songs Count:</strong> @playlist.SongCount</p>
                    @if (playlist.IsPublic == true)
                    {
                        <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M320 576C178.6 576 64 461.4 64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576zM320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320C528 205.1 434.9 112 320 112zM390.7 233.9C398.5 223.2 413.5 220.8 424.2 228.6C434.9 236.4 437.3 251.4 429.5 262.1L307.4 430.1C303.3 435.8 296.9 439.4 289.9 439.9C282.9 440.4 276 437.9 271.1 433L215.2 377.1C205.8 367.7 205.8 352.5 215.2 343.2C224.6 333.9 239.8 333.8 249.1 343.2L285.1 379.2L390.7 234z" /></svg><strong>Is Public:</strong> @playlist.IsPublic</p>
                    }
                    else
                    {
                        <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM231 231C221.6 240.4 221.6 255.6 231 264.9L286 319.9L231 374.9C221.6 384.3 221.6 399.5 231 408.8C240.4 418.1 255.6 418.2 264.9 408.8L319.9 353.8L374.9 408.8C384.3 418.2 399.5 418.2 408.8 408.8C418.1 399.4 418.2 384.2 408.8 374.9L353.8 319.9L408.8 264.9C418.2 255.5 418.2 240.3 408.8 231C399.4 221.7 384.2 221.6 374.9 231L319.9 286L264.9 231C255.5 221.6 240.3 221.6 231 231z" /></svg><strong>Is Public:</strong> @playlist.IsPublic</p>
                    }
                    <div class="dropup mt-auto">
                        <button class="btn btn-md btn-secondary dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <svg viewBox="0 0 640 640" width="18" height="18" class="me-2">
                                <path fill="rgb(255, 255, 255)" d="M96 320C96 289.1 121.1 264 152 264C182.9 264 208 289.1 208 320C208 350.9 182.9 376 152 376C121.1 376 96 350.9 96 320zM264 320C264 289.1 289.1 264 320 264C350.9 264 376 289.1 376 320C376 350.9 350.9 376 320 376C289.1 376 264 350.9 264 320zM488 264C518.9 264 544 289.1 544 320C544 350.9 518.9 376 488 376C457.1 376 432 350.9 432 320C432 289.1 457.1 264 488 264z" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark shadow">
                            <li>
                                <a asp-controller="Playlist" asp-action="Edit" asp-route-id="@playlist.Id" class="dropdown-item d-flex align-items-center py-2 text-warning">
                                    <svg viewBox="0 0 512 512" width="18" height="18" class="me-2">
                                        <path fill="currentColor" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L368 46.1 465.9 144 490.3 119.6c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L432 177.9 334.1 80 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z" />
                                    </svg>
                                    Edit playlist
                                </a>
                            </li>
                            <li>
                                <form asp-controller="Playlist" asp-action="Delete" asp-route-id="@playlist.Id" method="post">
                                    <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString#playlist-@playlist.Id" />
                                    <button class="dropdown-item d-flex align-items-center py-2 text-danger" onclick="return confirm('Are you sure you want to delete this playlist?');">
                                        <svg viewBox="0 0 448 512" width="18" height="18" class="me-2">
                                            <path fill="currentColor" d="M136.7 5.9L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-8.7-26.1C306.9-7.2 294.7-16 280.9-16L167.1-16c-13.8 0-26 8.8-30.4 21.9zM416 144L32 144 53.1 467.1C54.7 492.4 75.7 512 101 512L347 512c25.3 0 46.3-19.6 47.9-44.9L416 144z" />
                                        </svg>
                                        Delete playlist
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col">
        <div class="card h-100 shadow-sm overflow-hidden" style="border-radius: 12px;">
            <a asp-controller="LikedSongs" asp-action="LikedSongsIndexForCurrentLoggedUser">
                <img src="/images/defaults/liked_songs.jpg" alt="Liked songs" class="w-100 h-100" style="object-fit: contain; border-top-left-radius: 12px; border-top-right-radius: 12px;">
            </a>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Liked songs</h5>
                <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112C434.9 112 528 205.1 528 320zM64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320zM296 184L296 320C296 328 300 335.5 306.7 340L402.7 404C413.7 411.4 428.6 408.4 436 397.3C443.4 386.2 440.4 371.4 429.3 364L344 307.2L344 184C344 170.7 333.3 160 320 160C306.7 160 296 170.7 296 184z" /></svg><strong>Length:</strong> @Model.LikedSongsHours:@Model.LikedSongsMinutes.ToString("D2"):@Model.LikedSongsSeconds.ToString("D2")</p>
                <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" /></svg><strong>Songs Count:</strong> @Model.LikedSongsCount</p>
            </div>
        </div>
    </div>
</div>