@model ArtistIndexWithProjects

@{
    ViewData["Title"] = $"{Model.Username} - Profile";
}

<div class="container mt-4">

    <!-- Artist Header -->
    <div class="text-center text-light mb-5">
        <img src="@Model.ProfilePicture"
             class="rounded-circle shadow mb-3"
             width="150"
             height="150"
             style="object-fit:cover;" />

        <h1 class="display-4 fw-bold">
            @Model.Username
        </h1>
    </div>

    <!-- ===================== SINGLES ===================== -->
    <div class="text-light">
        <h2 class="fw-bold mb-4">
            <span class="text-warning">Singles and features</span>
        </h2>
    </div>

    @if (!Model.Singles.Any())
    {
        <div class="alert alert-light border rounded-4 text-center fw-semibold shadow-sm fs-5 mb-5">
            <i class="bi bi-search me-2 text-muted"></i>
            This artist has no singles yet.
        </div>
    }
    else
    {
        <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            @foreach (var song in Model.Singles)
            {
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="@song.ImageURL" class="w-100 h-100" alt="@song.Title" style="object-fit:contain;">
                            <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@song.Title</h5>
                            <p class="card-text mb-1"><strong>Genre:</strong> @song.GenreName</p>
                            @if (!string.IsNullOrEmpty(song.AlbumName))
                            {
                                <p class="card-text mb-1"><strong>Album:</strong> @song.AlbumName</p>
                            }
                            <p class="card-text mb-1">
                                <strong>Artists:</strong>
                                @foreach (var artist in song.Artists)
                                {
                                    <span class="badge bg-secondary me-1">@artist</span>
                                }
                            </p>
                            <p class="card-text mb-1"><strong><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112C434.9 112 528 205.1 528 320zM64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320zM296 184L296 320C296 328 300 335.5 306.7 340L402.7 404C413.7 411.4 428.6 408.4 436 397.3C443.4 386.2 440.4 371.4 429.3 364L344 307.2L344 184C344 170.7 333.3 160 320 160C306.7 160 296 170.7 296 184z" /></svg>Length:</strong> @song.Minutes.ToString("D2"):@song.Seconds.ToString("D2") minutes</p>
                            <p class="card-text mb-1"><strong><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M216 64C229.3 64 240 74.7 240 88L240 128L400 128L400 88C400 74.7 410.7 64 424 64C437.3 64 448 74.7 448 88L448 128L480 128C515.3 128 544 156.7 544 192L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 192C96 156.7 124.7 128 160 128L192 128L192 88C192 74.7 202.7 64 216 64zM216 176L160 176C151.2 176 144 183.2 144 192L144 240L496 240L496 192C496 183.2 488.8 176 480 176L216 176zM144 288L144 480C144 488.8 151.2 496 160 496L480 496C488.8 496 496 488.8 496 480L496 288L144 288z" /></svg>Release Date:</strong> @song.ReleaseDate.ToString("dd MMM yyyy")</p>
                            <p class="card-text mb-1"><strong><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M442.9 144C415.6 144 389.9 157.1 373.9 179.2L339.5 226.8C335 233 327.8 236.7 320.1 236.7C312.4 236.7 305.2 233 300.7 226.8L266.3 179.2C250.3 157.1 224.6 144 197.3 144C150.3 144 112.2 182.1 112.2 229.1C112.2 279 144.2 327.5 180.3 371.4C221.4 421.4 271.7 465.4 306.2 491.7C309.4 494.1 314.1 495.9 320.2 495.9C326.3 495.9 331 494.1 334.2 491.7C368.7 465.4 419 421.3 460.1 371.4C496.3 327.5 528.2 279 528.2 229.1C528.2 182.1 490.1 144 443.1 144zM335 151.1C360 116.5 400.2 96 442.9 96C516.4 96 576 155.6 576 229.1C576 297.7 533.1 358 496.9 401.9C452.8 455.5 399.6 502 363.1 529.8C350.8 539.2 335.6 543.9 320 543.9C304.4 543.9 289.2 539.2 276.9 529.8C240.4 502 187.2 455.5 143.1 402C106.9 358.1 64 297.7 64 229.1C64 155.6 123.6 96 197.1 96C239.8 96 280 116.5 305 151.1L320 171.8L335 151.1z" /></svg>Likes:</strong> @song.Likes</p>
                            @if (User?.Identity?.IsAuthenticated ?? false)
                            {
                                <div class="dropup mt-2">
                                    <button class="btn btn-lg btn-secondary dropdown-toggle"
                                            type="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <svg viewBox="0 0 640 640" width="30" height="30"><path fill="rgb(255, 255, 255)" d="M96 320C96 289.1 121.1 264 152 264C182.9 264 208 289.1 208 320C208 350.9 182.9 376 152 376C121.1 376 96 350.9 96 320zM264 320C264 289.1 289.1 264 320 264C350.9 264 376 289.1 376 320C376 350.9 350.9 376 320 376C289.1 376 264 350.9 264 320zM488 264C518.9 264 544 289.1 544 320C544 350.9 518.9 376 488 376C457.1 376 432 350.9 432 320C432 289.1 457.1 264 488 264z" /></svg>
                                    </button>

                                    <ul class="dropdown-menu">

                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle">Add to Playlist</a>

                                            <ul class="dropdown-menu">
                                                @if (Model.LoggedUserPlaylists != null && Model.LoggedUserPlaylists.Any())
                                                {
                                                    foreach (var playlist in Model.LoggedUserPlaylists)
                                                    {
                                                        <li>
                                                            <form method="post" asp-controller="Playlist" asp-action="AddSongToPlaylist">
                                                                <input type="hidden" name="playlistId" value="@playlist.Id" />
                                                                <input type="hidden" name="songId" value="@song.Id" />
                                                                <button type="submit" class="dropdown-item">@playlist.Title</button>
                                                            </form>
                                                        </li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li class="dropdown-item text-muted">No playlists</li>
                                                }
                                            </ul>
                                        </li>

                                        <li><hr class="dropdown-divider" /></li>

                                        <!-- Add to Liked Songs -->
                                        <li>
                                            <form method="post" asp-controller="LikedSongs" asp-action="AddLikedSong" asp-route-songId="@song.Id">
                                                <button type="submit" class="dropdown-item">Add to Liked Songs</button>
                                            </form>
                                        </li>

                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <hr />
    <!-- ===================== ALBUMS ===================== -->
    <div class="text-light">
        <h2 class="fw-bold mb-4">
            <span class="text-warning">Albums</span>
        </h2>
    </div>

    @if (!Model.Albums.Any())
    {
        <div class="alert alert-light border rounded-4 text-center fw-semibold shadow-sm fs-5 mb-5">
            <i class="bi bi-search me-2 text-muted"></i>
            This artist has no albums yet.
        </div>
    }
    else
    {
        <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            @foreach (var album in Model.Albums)
            {
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-img-top overflow-hidden" style="aspect-ratio: 1 / 1;">
                            <img src="@album.ImageURL"
                                 alt="@album.Title"
                                 class="w-100 h-100"
                                 style="object-fit: contain;">
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@album.Title</h5>
                            <p class="card-text mb-1">
                                <strong>Artists:</strong>
                                @foreach (var artist in album.Artists)
                                {
                                    <span class="badge bg-secondary me-1">@artist</span>
                                }
                            </p>
                            <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112C434.9 112 528 205.1 528 320zM64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320zM296 184L296 320C296 328 300 335.5 306.7 340L402.7 404C413.7 411.4 428.6 408.4 436 397.3C443.4 386.2 440.4 371.4 429.3 364L344 307.2L344 184C344 170.7 333.3 160 320 160C306.7 160 296 170.7 296 184z" /></svg><strong>Length:</strong> @album.Hours.ToString("D2"):@album.Minutes.ToString("D2"):@album.Seconds.ToString("D2")</p>
                            <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M216 64C229.3 64 240 74.7 240 88L240 128L400 128L400 88C400 74.7 410.7 64 424 64C437.3 64 448 74.7 448 88L448 128L480 128C515.3 128 544 156.7 544 192L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 192C96 156.7 124.7 128 160 128L192 128L192 88C192 74.7 202.7 64 216 64zM216 176L160 176C151.2 176 144 183.2 144 192L144 240L496 240L496 192C496 183.2 488.8 176 480 176L216 176zM144 288L144 480C144 488.8 151.2 496 160 496L480 496C488.8 496 496 488.8 496 480L496 288L144 288z" /></svg><strong>Release Date:</strong> @album.ReleaseDate.ToString("dd MMM yyyy")</p>
                            <p class="card-text mb-2"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" /></svg><strong>Songs Count:</strong> @album.SongsCount</p>
                            <a asp-controller="Album" asp-action="Details" asp-route-id="@album.Id" class="btn btn-info mt-auto d-inline-flex align-items-center align-self-start">
                                <svg viewBox="0 0 640 640" width="25" height="25" class="me-2">
                                    <path fill="rgb(0, 0, 0)" d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM288 224C288 206.3 302.3 192 320 192C337.7 192 352 206.3 352 224C352 241.7 337.7 256 320 256C302.3 256 288 241.7 288 224zM280 288L328 288C341.3 288 352 298.7 352 312L352 400L360 400C373.3 400 384 410.7 384 424C384 437.3 373.3 448 360 448L280 448C266.7 448 256 437.3 256 424C256 410.7 266.7 400 280 400L304 400L304 336L280 336C266.7 336 256 325.3 256 312C256 298.7 266.7 288 280 288z" />
                                </svg>
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <hr />
    <!-- ===================== PLAYLISTS ===================== -->
    <div class="text-light">
        <h2 class="fw-bold mb-4">
            <span class="text-warning">Playlists</span>
        </h2>
    </div>

    @if (!Model.Playlists.Any())
    {
        <div class="alert alert-light border rounded-4 text-center fw-semibold shadow-sm fs-5 mb-5">
            <i class="bi bi-search me-2 text-muted"></i>
            This artist has no playlists yet.
        </div>
    }
    else
    {
        <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            @foreach (var playlist in Model.Playlists)
            {
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="@playlist.ImageURL" class="card-img-top" alt="@playlist.Title" style="height:180px; object-fit:cover;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@playlist.Title</h5>
                            <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112C434.9 112 528 205.1 528 320zM64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320zM296 184L296 320C296 328 300 335.5 306.7 340L402.7 404C413.7 411.4 428.6 408.4 436 397.3C443.4 386.2 440.4 371.4 429.3 364L344 307.2L344 184C344 170.7 333.3 160 320 160C306.7 160 296 170.7 296 184z" /></svg><strong>Length:</strong> @playlist.Hours:@playlist.Minutes.ToString("D2"):@playlist.Seconds.ToString("D2")</p>
                            <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M216 64C229.3 64 240 74.7 240 88L240 128L400 128L400 88C400 74.7 410.7 64 424 64C437.3 64 448 74.7 448 88L448 128L480 128C515.3 128 544 156.7 544 192L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 192C96 156.7 124.7 128 160 128L192 128L192 88C192 74.7 202.7 64 216 64zM216 176L160 176C151.2 176 144 183.2 144 192L144 240L496 240L496 192C496 183.2 488.8 176 480 176L216 176zM144 288L144 480C144 488.8 151.2 496 160 496L480 496C488.8 496 496 488.8 496 480L496 288L144 288z" /></svg><strong>Date Created:</strong> @playlist.DateCreated.ToString("dd MMM yyyy")</p>
                            <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" /></svg><strong>Songs Count:</strong> @playlist.SongCount</p>
                            <p class="card-text mb-1"><svg viewBox="0 0 640 640" width="30" height="30" class="me-2"><path fill="rgb(255, 255, 255)" d="M320 576C178.6 576 64 461.4 64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576zM320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320C528 205.1 434.9 112 320 112zM390.7 233.9C398.5 223.2 413.5 220.8 424.2 228.6C434.9 236.4 437.3 251.4 429.5 262.1L307.4 430.1C303.3 435.8 296.9 439.4 289.9 439.9C282.9 440.4 276 437.9 271.1 433L215.2 377.1C205.8 367.7 205.8 352.5 215.2 343.2C224.6 333.9 239.8 333.8 249.1 343.2L285.1 379.2L390.7 234z" /></svg><strong>Is Public:</strong> @playlist.IsPublic</p>
                            <div class="d-flex gap-2">
                                <a asp-controller="Playlist" asp-action="Details" asp-route-id="@playlist.Id" class="btn btn-info mt-auto d-inline-flex align-items-center align-self-start">
                                    <svg viewBox="0 0 640 640" width="25" height="25" class="me-2">
                                        <path fill="rgb(0, 0, 0)" d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM288 224C288 206.3 302.3 192 320 192C337.7 192 352 206.3 352 224C352 241.7 337.7 256 320 256C302.3 256 288 241.7 288 224zM280 288L328 288C341.3 288 352 298.7 352 312L352 400L360 400C373.3 400 384 410.7 384 424C384 437.3 373.3 448 360 448L280 448C266.7 448 256 437.3 256 424C256 410.7 266.7 400 280 400L304 400L304 336L280 336C266.7 336 256 325.3 256 312C256 298.7 266.7 288 280 288z" />
                                    </svg>
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>